@import './colors.scss';
$main-box-shadow: 4px 4px 20px $main-color;

$custom-border: 5px double $main-color;
$second-custom-border: 5px double $second-color;
$third-custom-border: 5px double $third-color;

.App {
  min-height: 100vh;
  max-width: 100vw;
  font-size: calc(10px + 2vmin);

  // background-image: linear-gradient(
  //   to left top,
  //   #0a0a32,
  //   #2f194e,
  //   #5b2267,
  //   #8b287a,
  //   #be2c85
  // );

  background-color: $background-color;
}

header {
  background-color: $background-color;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 60px;
  color: #000000;
  vertical-align: middle;
  z-index: 1000;

  div.title {
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }
}

.page {
  height: calc(100vh - 65px);
  padding-left: 4rem;
  padding-right: 4rem;

  .main-container {
    padding-top: 5rem;
    padding-bottom: 1rem;
    display: flex;

    .presentation-container {
      width: 100%;
      margin-top: 1rem;

      .left-name {
        width: 250px;
        align-items: flex-start;
        margin: auto;
        h1 {
          margin-left: 0;
          margin-right: auto;
          padding-left: 10px;
          padding-right: 2px;
        }
      }

      .right-name {
        width: 250px;
        margin: auto;
        h1 {
          margin-left: auto;
          margin-right: 0;
          padding-left: 2px;
          padding-right: 10px;
        }
      }

      h1 {
        width: fit-content;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .contacts-container {
    display: flex;
    justify-content: center;
    margin: auto;

    .contact {
      text-decoration: none;
      color: inherit;
      padding: 20px;
      display: flex;
      align-items: center;
      p {
        padding: 5px;
        font-size: calc(14px + 1vmin);
      }
      svg {
        font-size: calc(10px + 3vmin);
      }
      &:hover {
        color: $main-color;
      }
    }
  }
}

.border {
  &.left {
    border-left: $custom-border;
  }
  &.right {
    border-right: $custom-border;
  }
  &.top {
    border-top: $custom-border;
  }
  &.bottom {
    border-bottom: $custom-border;
  }
}

.align-center {
  text-align: center;
}
