@import './colors.scss';

.photo-container {
  margin: 1rem 3rem;

  position: relative;
  min-width: 400px;
  min-height: 400px;

  .photo {
    z-index: 100;
    background-color: white;
    height: 390px;
    width: 300px;
    box-shadow: 0 0 0 3px $main-color, 0 0 0 7px $background-color,
      0 0 0 10px $main-color;
    position: absolute;
    left: 0px;
    top: 15px;
    background: url('../public/profile.jpg') no-repeat;
    background-size: cover;
  }

  .square {
    position: absolute;
    // background-color: $background-color;

    &.square-1 {
      height: 395px;
      width: 300px;
      left: 35px;
      top: -5px;
      z-index: 1;
      box-shadow: 0 0 0 3px $second-color, 0 0 0 7px $background-color,
        0 0 0 10px $second-color;
    }

    &.square-2 {
      height: 280px;
      width: 390px;
      left: -25px;
      top: 55px;
      z-index: 1;
      box-shadow: 0 0 0 3px $third-color, 0 0 0 7px $background-color,
        0 0 0 10px $third-color;
    }
  }
}
