---
---

<section
  data-testid="about"
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
  <div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
    <div class="group flex w-fit flex-col items-center justify-center">
      <h2 class="font-monospace text-2xl text-orange-600 lg:text-4xl">About me</h2>
      <span class="mb-6 ml-2 h-1 w-10 bg-orange-600 transition-all duration-300 group-hover:w-full"
      ></span>
    </div>
  </div>

  <div class="w-full text-justify text-black dark:text-white lg:w-1/2">
    <p class="mb-2">
      Hi, I'm Giada Boccali, a passionate and detail-oriented Frontend Engineer with a solid
      foundation in React and Agile methodologies. My career has been built on crafting efficient
      and innovative web and mobile applications, driving collaborative teamwork, and striving for
      continuous improvement. With a Bachelor's Degree in Engineering and Computer Science from the
      University of Bologna and years of hands-on experience, I specialize in technologies like
      React, TypeScript, and more. Whether it's building seamless interfaces, optimizing code, or
      leading agile teams, I approach every challenge with creativity and precision. Beyond the
      technical side, I value open communication, transparency, and creating a positive team
      culture.
    </p>
  </div>
</section>
