---
import Social from '@components/ui/Social.astro';
import LinkAsButton from './ui/LinkAsButton.astro';
---

<section
  data-testid="contact"
  id="contacts"
  class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-screen"
>
  <div class="group flex w-fit flex-col items-center justify-center">
    <h2 class="font-monospace text-2xl text-orange-600 lg:text-4xl">Get in touch!</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-orange-600 transition-all duration-300 group-hover:w-full"
    ></span>
  </div>
  <LinkAsButton href="mailto:giada.boccali@gmail.com" style="primary">
    Send me an email
  </LinkAsButton>
  <hr class="w-1/2" />
  <div>Or connect with me on:</div>
  <div class="flex flex-col gap-8 lg:flex lg:flex-row lg:gap-20">
    <Social />
  </div>
</section>
