---
import { Icon } from 'astro-icon';
---

<a href="https://github.com/JadeMugs" target="_blank" rel="noopener" aria-label="github"
  ><Icon
    class="h-8 hover:text-orange-600 dark:hover:text-orange-600 md:h-12"
    name="simple-icons:github"
  />
</a>
<a
  href="https://www.linkedin.com/in/giada-boccali"
  target="_blank"
  rel="noopener"
  aria-label="linkedin"
  ><Icon
    class="h-8 hover:text-orange-600 dark:hover:text-orange-600 md:h-12"
    name="simple-icons:linkedin"
  />
</a>
